
h4, h3 {font-style: italic;
font-size: 1.3em;}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
} /* all of this makes it so that the width of something doesnt account for padding */

.nav-bar a {
    list-style-type: none;
    background-color: rgb(124, 58, 218);
    margin: 8px 0 18px 0;
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 20%;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    float: left;

    /*border-radius: 3px;*/
}
.nav-bar {top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;}



.nav-bar a:hover {
    text-decoration: underline red solid;


    /* background-color: rgb(255, 244, 232);
color: rgb(0, 0, 0);

poi copia lo hover con la linea rossa che appare sotto al testo che
viene selezionato perche non solo e figo e ci sta con il rosso, ma e anche per
liberassi del hover grigino che non sa veramente di nulla*/
}

.nav-bar a.active {
    background-color: rgb(255, 0, 16);
    color: #000000;  }




/*
 .nav-bar a:hover {

    div {
        animation-name: underline;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-direction: alternate;
    }
    }


@keyframes underline {

    from {
        text-decoration: none;
    }

    to {
        text-decoration: underline red solid;  } }*/






body {background-color: #cae6f5;
    line-height: 1.5em;}

h3 {color: #6d2bd6; }
