
h4, h3 {font-style: italic;
font-size: 1.3em;}

.nav-bar a {
    list-style-type: none;
    background-color: rgb(124, 58, 218);
    margin: 8px 0px 18px 0px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 17%;
    position: sticky;

    /*border-radius: 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;*/

    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    padding: 11px 11px 11px 11px;
    color: #ffffff;
    float: left;


}

.nav-bar a:hover {
    background-color: rgb(255, 244, 232);
    color: rgb(0, 0, 0);
}

.nav-bar a.active {
    background-color: rgb(255, 0, 16);
    color: #000000;

}



body {background-color: #C4E0EF;
    line-height: 1.5em;}

h3 {color: #6d2bd6; }
