
h4{font-style: italic;
    color: #6d2bd6;
    /*font-size: 1.3em;*/}

html {
    box-sizing: border-box;
    padding: 30px;
    margin: 15px;
    /*border: 2px outset rgba(109, 43, 214, 0.68); */

}
*, *:before, *:after {
    box-sizing: inherit;
} /* all of this makes it so that the width of something doesnt account for padding */


#guess_form, #guess_display, #guess_status, #guess_input {padding: 10px;}

footer, nav-bar {
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    position: absolute;
    background: pink;
    /*float: bottom;
    align: center;*/
    right: 0;}

.nav-bar a {
    list-style-type: none;
    background-color: rgb(124, 58, 218);
    margin: 8px 0 18px 0;
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 15%;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    float: left;
    align: center;
    border-radius: 2px;

    /*border-radius: 3px;*/
}
.nav-bar a.active {
    background-color: rgb(255, 0, 16);
    color: #000000;  }

.footer a {border-bottom: 0px solid rgba(255, 86, 197, 0.95);
    border-radius: 4px;
    height: 30px;
    padding: 20px;
    position: relative;
    text-align: center;
   /* width: 30px;*/}

.footer a, .nav-bar a {

    /*box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0), 0 6px 8px rgba(0,0,0,0), 0 24px 24px rgba(0,0,0,0), 0 36px 36px rgba(0,0,0,0), 0 64px 64px rgba(0,0,0,0), 0 64px 128px rgba(0,0,0,0), 0 120px 0 rgba(0,0,0,0), 0 86px 8px 6px rgba(0,0,0,0);
    display: inline-block; */
    transition: .2s ease-in;
}

.footer p {float:left; width:100%; text-align:center; }

.footer a:hover, .nav-bar a:hover {
    transform: translateY(-4px);
    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.1),

    /* 0 6px 8px rgba(0,0,0,0.05),
    0 24px 24px rgba(0,0,0,0.05), */

    0 30px 30px rgba(146, 69, 255, 0.56), 0 20px 20px rgba(221, 0, 14, 0.73);

    /*0 64px 128px rgba(0,0,0,0.15), 0 86px 8px 6px;
    */
    }

body {background-color: #cae6f5;
  line-height: 1.5em;}

h3 {color: #6d2bd6;
  font-style: italic;
  font-size: 1.2em;}



